<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="item" routerLink='/quotes' routerLinkActive="active">Random</a>
    <a class="item">Add</a>
    <a class="item" routerLink='/login'>Faux Login</a>
    <a class="item">About</a>
    <div class="right item">
      <a class="ui inverted button" *ngIf='!loginService.isAuthenticated'>Log in</a>
      <a class="item" *ngIf='!loginService.isAuthenticated'>{{ loginService.userId }}</a>
      <a class="ui inverted button">Sign Up</a>
    </div>
  </div>
</div>